---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Not Found">
  <div class="text-center">
    <a class="block py-8 my-8 underline text-4xl" href="/">Go home?</a>
  </div>
</MainLayout>
