---
import MainLayout from "../layouts/MainLayout.astro";
import FFXIVMacroChatModeConverter from "../components/FFXIVMacroChatModeConverter";
---
<MainLayout title="FFXIV Toolkit">
  <div class="md:container mx-auto p-4">
    <article>
      <header>
        <h2 class="text-xl font-bold">Chat Macro Converter</h2>
      </header>

      <section>
        <p class="py-2">Change the chat mode of a chat macro (e.g. change a raid macro to always go into party chat), and experimentally remove all of the chat-specific information (in case you want to copy it from in-game chat).</p>
      </section>

      <FFXIVMacroChatModeConverter client:load />
    </article>
  </div>
</MainLayout>
