---
import '../styles/global.css';
import { HomeIcon } from "@heroicons/react/outline";

const props = Astro.props;
const title = props.content?.title || props.title;
---
<html lang={props.content?.lang || 'en'}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title} - tools.ldaws.com</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body class="min-w-screen min-h-screen bg-gradient-to-t from-slate-900 to-slate-800 text-slate-100 flex flex-col items-stretch">
	<main>
		<header class="p-4 container mx-auto">
      <h1 class="text-3xl font-bold">
      {props.hideHome ? null : (<a class="pr-2" href="/"><HomeIcon className="w-8 h-8 inline-block" /></a>)}
      {title}
      </h1>
		</header>

    <slot />
	</main>
</body>
</html>
